.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* color */
/* font-size */
/* font-weight */
/* letter-spacing */
/* line-height */
/* font-family */
/* width */
/* value padding, margin */
/* transition */
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.list_items > li:not(:last-child) {
  margin-right: 30px;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link_active {
  width: 100%;
  color: #2196f3;
}

.link_active::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -33px;
  left: 0;
  background-color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_header {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.section_hero {
  padding: 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/header-background.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.section_advantage {
  padding-bottom: 0;
}

.section_our-team {
  background-color: #f5f4fa;
}

.section_footer {
  background-color: #2f303a;
  padding: 60px 15px;
}

.container {
  width: 1200px;
  padding: 0 15px;
}

.container_header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.container_hero {
  display: flex;
  height: 37.5rem;
  justify-content: center;
  align-items: center;
}

.container_footer {
  display: flex;
  background-color: #2f303a;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__form-wrapper {
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__label {
  display: block;
  width: max-content;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__items {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__items:hover, .modal-form__items:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__icon-div {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__textarea::placeholder {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.modal-form__check-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-label a {
  color: #2196f3;
}

.modal-form__check:checked + .modal-form__check-label::before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #2196f3;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 16px;
}

.social-list__link {
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 76px;
  border: none;
  margin-top: 30px;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 1.625rem;
  letter-spacing: 0.03em;
  line-height: 1.9375rem;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-logo_decoration {
  color: #2196f3;
}

.main-logo_footer {
  color: inherit;
}

.hero-button {
  background-color: #2196f3;
  font-family: inherit;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0 4px 4px #00000026;
  border: none;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  border-radius: 4px;
}

.main-nav,
.main-contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  line-height: 1rem;
  font-weight: 500;
}

.main-contact {
  color: #757575;
  margin-left: auto;
}

.main-contact__item:not(:last-child) {
  margin-right: 50px;
}

.main-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contact__link:hover, .main-contact__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.main-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav__item {
  position: relative;
}

.main-nav__item:not(:last-child) {
  margin-right: 46px;
}

.main-nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -33px;
  left: 0;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover::after {
  background-color: #2196f3;
}

.hero-header {
  font-size: 2.75rem;
  line-height: 3.75rem;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.advantage {
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
}

.advantage__header {
  text-transform: uppercase;
  font-weight: 700;
}

.advantage__contents {
  line-height: 1.5rem;
  color: #757575;
  margin-top: 10px;
}

.advantage__icon-container {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-about {
  display: flex;
}

.what-about__item {
  position: relative;
}

.what-about__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  display: flex;
}

.our-team__picture {
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__caption {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team__content {
  color: #757575;
}

.clients {
  display: flex;
}

.clients__link {
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 20px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-right-side {
  margin-left: 70px;
}

.footer-title {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.social-footer__link {
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.newsletter {
  margin-left: 78px;
  padding-top: 12px;
}

.newsletter__title {
  display: block;
  width: max-content;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter__input-wrapper {
  display: flex;
}

.newsletter__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__input:hover, .newsletter__input:focus {
  border-color: #2196f3;
}

.newsletter__input::placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.newsletter__btn {
  width: 200px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 8px 10px 42px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}

.newsletter__icon {
  margin-left: 24px;
}

.selection {
  display: flex;
  text-align: center;
  justify-content: center;
}

.selection__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.selection__btn {
  font-family: inherit;
  color: inherit;
  background-color: #f5f4fa;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection__btn:hover, .selection__btn:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  cursor: pointer;
}

.selection__item:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gallery__img {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__picture-caption {
  font-size: 1.125rem;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding-bottom: 4px;
}

.gallery__picture-content {
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery__figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.gallery__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */