.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  /* color */
  --color-main: #212121;
  --color-logo: #000000;
  --color-decoration: #2196f3;
  --color-light: #ffffff;
  --color-dark: #2f303a;
  --color-grey: #757575;
  --color-light-grey: #f5f4fa;
  --color-social: #afb1b8;
  --color-border-header: #ececec;
  --color-border-gallery: #eeeeee;
  --color-label: rgba(47, 48, 58, 0.8);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  /* font-size */
  --font-main: 16px;
  --font-rem-12: 0.75rem;
  --font-rem-14: 0.875rem;
  --font-rem-16: 1rem;
  --font-rem-18: 1.125rem;
  --font-rem-20: 1.25rem;
  --font-rem-26: 1.625rem;
  --font-rem-36: 2.25rem;
  --font-rem-44: 2.75rem;
  /* font-weight */
  --f-weight-500: 500;
  --f-weight-700: 700;
  --f-weight-900: 900;
  /* letter-spacing */
  --l-spacing-1: 0.01em;
  --l-spacing-2: 0.02em;
  --l-spacing-3: 0.03em;
  --l-spacing-6: 0.06em;
  /* line-height */
  --l-height-14: 0.875rem;
  --l-height-16: 1rem;
  --l-height-19: 1.1875rem;
  --l-height-20: 1.25rem;
  --l-height-23: 1.4375rem;
  --l-height-24: 1.5rem;
  --l-height-26: 1.625rem;
  --l-height-28: 1.75rem;
  --l-height-30: 1.875rem;
  --l-height-31: 1.9375rem;
  --l-height-36: 2.25rem;
  --l-height-42: 2.625rem;
  --l-height-60: 3.75rem;
  /* font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  /* width */
  --width-container1200: 1200px;
  --width-container696: 696px;
  --max-width: 1600px;
  --w358: 358px;
  --w200: 200px;
  --w44: 44px;
  --w170: 170px;
  --w92: 92px;
  --w120: 120px;
  --w270: 270px;
  --w4: 4px;
  --w528: 528px;
  --w581: 581px;
  /* value padding, margin */
  --val--33: -33px;
  --val-1: 1px;
  --val-2: 2px;
  --val-4: 4px;
  --val-6: 6px;
  --val-7: 7px;
  --val-8: 8px;
  --val-9: 9px;
  --val-10: 10px;
  --val-11: 11px;
  --val-12: 12px;
  --val-15: 15px;
  --val-16: 16px;
  --val-18: 18px;
  --val-20: 20px;
  --val-22: 22px;
  --val-24: 24px;
  --val-25: 25px;
  --val-27: 27px;
  --val-30: 30px;
  --val-40: 40px;
  --val-41: 41px;
  --val-42: 42px;
  --val-46: 46px;
  --val-50: 50px;
  --val-60: 60px;
  --val-70: 70px;
  --val-76: 76px;
  --val-78: 78px;
  --val-90: 90px;
  --val-93: 93px;
  --val-94: 94px;
  --val-120: 120px;
  --val-200: 200px;
  /* transition */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--color-main);
  font-family: var(--font-roboto);
  font-size: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.list_items > li:not(:last-child) {
  margin-right: var(--val-30);
}

.link {
  text-decoration: none;
  transition: color var(--animation);
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--color-decoration);
}

.link_active {
  width: 100%;
  color: var(--color-decoration);
}

.link_active::before {
  content: "";
  width: 100%;
  height: var(--w4);
  position: absolute;
  bottom: var(--val--33);
  left: 0;
  background-color: var(--color-decoration);
}

.section {
  padding-top: var(--val-94);
  padding-bottom: var(--val-94);
}

.container {
  width: var(--width-container1200);
  padding: 0 var(--val-15);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-backdrop);
  transition: visibility var(--animation), opacity var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--animation), visibility var(--animation), opacity var(--animation);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--w528);
  min-height: var(--w581);
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
  background-color: var(--color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--val-4);
  transition: transform var(--animation);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  position: absolute;
  top: var(--val-8);
  right: var(--val-8);
  border-radius: 50%;
  border: var(--val-1) solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-light);
  width: var(--val-30);
  height: var(--val-30);
  cursor: pointer;
  transition: border-color var(--animation), fill var(--animation);
}

.modal__close-btn:hover {
  border-color: var(--color-decoration);
  fill: var(--color-decoration);
}

.modal-form-container {
  padding: var(--val-40);
}

.modal-form__title {
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-20);
  line-height: var(--l-height-23);
  margin-bottom: var(--val-12);
  text-align: center;
  letter-spacing: var(--l-spacing-3);
}

.modal-form__label {
  display: block;
  width: max-content;
  font-size: var(--font-rem-12);
  line-height: var(--l-height-14);
  letter-spacing: var(--l-spacing-1);
  color: var(--color-grey);
}

.modal-form__items {
  position: relative;
  transition: fill var(--animation);
}

.modal-form__input {
  display: block;
  width: 100%;
  height: var(--val-40);
  margin-top: var(--val-4);
  margin-bottom: var(--val-10);
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--val-4);
  padding-left: var(--val-42);
  outline: none;
  transition: border-color var(--animation);
}

.modal-form__items:hover,
.modal-form__input:hover,
.modal-form__items:focus,
.modal-form__input:focus,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: var(--color-decoration);
  fill: var(--color-decoration);
}

.modal-form__icon-div {
  width: var(--val-18);
  height: var(--val-18);
  position: absolute;
  top: var(--val-11);
  left: var(--val-12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__textarea {
  display: block;
  resize: none;
  padding: var(--val-12) var(--val-16);
  width: 100%;
  height: var(--val-120);
  margin-top: var(--val-4);
  margin-bottom: var(--val-20);
  font-size: var(--val-12);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--val-4);
  transition: border-color var(--animation);
}

.modal-form__textarea::placeholder {
  font-size: var(--font-rem-12);
  line-height: var(--l-height-14);
  letter-spacing: var(--l-spacing-1);
  color: var(--color-placeholder);
}

.modal-form__check-label {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-24);
  letter-spacing: var(--l-spacing-3);
  color: var(--color-grey);
  display: flex;
  align-items: center;
}

.modal-form__check-label::before {
  display: inline-block;
  content: "";
  width: var(--val-16);
  height: var(--val-16);
  background-color: transparent;
  border: var(--val-2) solid #212121;
  border-radius: var(--val-2);
  margin-right: var(--val-7);
  transition: background-color var(--animation), border var(--animation);
}

.modal-form__check:checked + .modal-form__check-label::before {
  background-color: var(--color-decoration);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: var(--val-2) solid var(--color-decoration);
}

.modal-form__check-label a {
  color: var(--color-decoration);
}

.section-title {
  text-align: center;
  font-size: var(--font-rem-36);
  line-height: var(--l-height-42);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-700);
  margin-bottom: var(--val-50);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--val-30);
  padding-top: var(--val-16);
}

.social-list__link {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--w44);
  height: var(--w44);
  border-radius: 50%;
  transition: fill var(--animation), background-color var(--animation);
}

.social-list__item:not(:last-child) {
  margin-right: var(--val-10);
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--color-light);
  background-color: var(--color-decoration);
  border-radius: 50%;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  background: var(--color-decoration);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--val-4);
  color: var(--color-light);
  padding: var(--val-10) var(--val-76);
  border: none;
  margin-top: var(--val-30);
}

.main-logo {
  font-family: var(--font-raleway);
  color: var(--color-logo);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  padding-top: var(--val-24);
  padding-bottom: var(--val-25);
  margin-right: var(--val-93);
  text-decoration: none;
  transition: color var(--animation);
}

.main-logo__decoration {
  color: var(--color-decoration);
}

.hero-button {
  background-color: var(--color-decoration);
  font-family: inherit;
  color: var(--color-light);
  font-size: var(--font-rem-16);
  font-weight: var(--f-weight-700);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  cursor: pointer;
  box-shadow: 0 4px 4px #00000026;
  border: none;
  padding: var(--val-10) var(--val-41) var(--val-10) var(--val-42);
  margin-top: var(--val-30);
  border-radius: var(--val-4);
}

.section-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: var(--val-1) solid var(--color-border-header);
}

.container-header {
  display: flex;
  background-color: var(--color-light);
  align-items: center;
}

.main-nav,
.main-contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: var(--font-rem-14);
  letter-spacing: var(--l-spacing-2);
  line-height: var(--l-height-16);
  font-weight: var(--f-weight-500);
}

.main-contact {
  color: var(--color-grey);
  margin-left: auto;
}

.main-nav__list:not(:last-child) {
  margin-right: var(--val-46);
}

.main-contact__list:not(:last-child) {
  margin-right: var(--val-50);
}

.main-nav__list {
  position: relative;
}

.main-nav__link::after {
  content: "";
  width: 100%;
  height: var(--w4);
  position: absolute;
  bottom: var(--val--33);
  left: 0;
  background-color: transparent;
  transition: background-color var(--animation);
}

.main-nav__link:hover::after {
  background-color: var(--color-decoration);
}

.main-contact__link:hover,
.main-contact__link:focus {
  fill: var(--color-decoration);
  color: var(--color-decoration);
}

.main-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contact__icon {
  margin-right: var(--val-10);
  fill: currentColor;
}

.section-hero {
  display: flex;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/header-background.jpg");
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  max-width: var(--max-width);
  margin: 0 auto;
}

.container-hero {
  display: flex;
  height: 37.5rem;
  justify-content: center;
  align-items: center;
}

.hero-header {
  font-size: var(--font-rem-44);
  line-height: var(--l-height-60);
  font-weight: var(--f-weight-900);
  color: var(--color-light);
  letter-spacing: var(--l-spacing-6);
  text-transform: uppercase;
  width: var(--width-container696);
}

.section-advantage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.advantage {
  display: flex;
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
}

.advantage__header {
  text-transform: uppercase;
  font-weight: var(--f-weight-700);
}

.advantage__contents {
  line-height: var(--l-height-24);
  color: var(--color-grey);
  margin-top: var(--val-10);
}

.advantage__icon-container {
  width: var(--w270);
  height: var(--w120);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: var(--val-4);
  margin-bottom: var(--val-30);
}

.advantage__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-what-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-about {
  display: flex;
}

.what-about__item {
  position: relative;
}

.what-about__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: var(--val-27);
  padding-bottom: var(--val-27);
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  text-align: center;
  letter-spacing: var(--l-spacing-3);
  text-transform: uppercase;
  color: var(--color-light);
  background-color: var(--color-label);
}

.section-our-team {
  display: flex;
  background-color: var(--color-light-grey);
  align-items: center;
  justify-content: center;
}

.our-team {
  display: flex;
}

.our-team__picture {
  background-color: var(--color-light);
  text-align: center;
  font-size: var(--font-rem-16);
  line-height: var(--l-height-19);
  letter-spacing: var(--l-spacing-3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px var(--val-4) var(--val-4);
}

.our-team__caption {
  font-weight: var(--f-weight-500);
  padding-top: var(--val-30);
  padding-bottom: var(--val-10);
}

.our-team__content {
  color: var(--color-grey);
}

.section-clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients {
  display: flex;
}

.clients__link {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--val-1) solid #afb1b8;
  border-radius: var(--val-4);
  width: var(--w170);
  height: var(--w92);
  transition: fill var(--animation), border var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--color-decoration);
  border: 1px solid var(--color-decoration);
}

.section-footer {
  display: flex;
  background-color: var(--color-dark);
  align-items: center;
  justify-content: center;
  padding: var(--val-60) var(--val-15);
}

.container-footer {
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.main-logo__footer {
  font-family: var(--font-raleway);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  text-decoration: none;
  color: inherit;
}

.footer {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-24);
  letter-spacing: var(--l-spacing-3);
  font-style: normal;
  margin-top: var(--val-20);
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: var(--val-9);
}

.footer-right-side {
  margin-left: var(--val-70);
}

.footer-title {
  display: block;
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
  text-transform: uppercase;
  padding-top: var(--val-12);
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--val-20);
}

.social-footer__link {
  fill: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: var(--w44);
  height: var(--w44);
  transition: background-color var(--animation);
}

.social-footer__item:not(:last-child) {
  margin-right: var(--val-10);
}

.social-footer__link:hover,
.social-footer__link:focus {
  background-color: var(--color-decoration);
  border-radius: 50%;
}

.newsletter {
  margin-left: var(--val-78);
  padding-top: var(--val-12);
}

.newsletter__title {
  display: block;
  width: max-content;
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: var(--val-20);
}

.newsletter__input-wrapper {
  display: flex;
}

.newsletter__input {
  width: var(--w358);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: var(--val-4);
  background-color: transparent;
  padding-left: var(--val-16);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-20);
  letter-spacing: var(--l-spacing-3);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color var(--animation);
}

.newsletter__input:hover,
.newsletter__input:focus {
  border-color: var(--color-decoration);
}

.newsletter__input::placeholder {
  font-size: var(--font-rem-16);
  line-height: var(--l-height-20);
  letter-spacing: var(--l-spacing-3);
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.newsletter__btn {
  width: var(--w200);
  background-color: var(--color-decoration);
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  color: var(--color-light);
  padding: var(--val-10) var(--val-8) var(--val-10) var(--val-42);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--val-4);
  margin-left: var(--val-12);
}

.newsletter__icon {
  margin-left: var(--val-24);
}

.container-selection {
  align-items: center;
  justify-content: center;
}

.section-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection {
  display: flex;
  text-align: center;
  justify-content: center;
}

.selection__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--val-50);
}

.selection__btn {
  font-family: inherit;
  color: inherit;
  background-color: var(--color-light-grey);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-26);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-500);
  border: none;
  border-radius: var(--val-4);
  padding: var(--val-6) var(--val-22);
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation);
}

.selection__btn:hover,
.selection__btn:focus {
  background-color: var(--color-decoration);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-light);
  cursor: pointer;
}

.selection__items:not(:last-child) {
  margin-right: var(--val-8);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--val-30);
}

.gallery__item {
  transition: box-shadow var(--animation);
}

.gallery__img {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  font-size: var(--font-rem-18);
  line-height: var(--l-height-28);
  letter-spacing: var(--l-spacing-3);
  color: var(--color-light);
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: var(--val-24);
  padding-right: 45px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
}

.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}

.gallery__picture-caption {
  font-size: var(--font-rem-18);
  line-height: var(--l-height-36);
  letter-spacing: var(--l-spacing-6);
  font-weight: var(--f-weight-700);
  padding-bottom: var(--val-4);
}

.gallery__picture-content {
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-3);
  color: var(--color-grey);
}

.gallery__figcaption {
  padding: var(--val-20) var(--val-24);
  border-bottom: 1px solid var(--color-border-gallery);
  border-left: 1px solid var(--color-border-gallery);
  border-right: 1px solid var(--color-border-gallery);
}
/*# sourceMappingURL=main.css.map */