:root {
  /* color */
  --color-main: #212121;
  --color-logo: #000000;
  --color-decoration: #2196f3;
  --color-light: #ffffff;
  --color-dark: #2f303a;
  --color-grey: #757575;
  --color-light-grey: #f5f4fa;
  --color-social: #afb1b8;
  --color-border-header: #ececec;
  --color-border-gallery: #eeeeee;
  /* font-size */
  --font-main: 16px;
  --font-rem-14: 0.875rem;
  --font-rem-16: 1rem;
  --font-rem-18: 1.125rem;
  --font-rem-26: 1.625rem;
  --font-rem-36: 2.25rem;
  --font-rem-44: 2.75rem;
  /* font-weight */
  --f-weight-500: 500;
  --f-weight-700: 700;
  --f-weight-900: 900;
  /* letter-spacing */
  --l-spacing-2: 0.02em;
  --l-spacing-3: 0.03em;
  --l-spacing-6: 0.06em;
  /* line-height */
  --l-height-16: 1rem;
  --l-height-19: 1.1875rem;
  --l-height-24: 1.5rem;
  --l-height-26: 1.625rem;
  --l-height-30: 1.875rem;
  --l-height-31: 1.9375rem;
  --l-height-36: 2.25rem;
  --l-height-42: 2.625rem;
  --l-height-60: 3.75rem;
  /* font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  /* width */
  --width-container1200: 1200px;
  --width-container696: 696px;
  --max-width: 1600px;
  /* value padding, margin */
  --val-4: 4px;
  --val-6: 6px;
  --val-8: 8px;
  --val-9: 9px;
  --val-10: 10px;
  --val-15: 15px;
  --val-16: 16px;
  --val-20: 20px;
  --val-22: 22px;
  --val-24: 24px;
  --val-25: 25px;
  --val-30: 30px;
  --val-41: 41px;
  --val-42: 42px;
  --val-46: 46px;
  --val-50: 50px;
  --val-60: 60px;
  --val-70: 70px;
  --val-93: 93px;
  --val-94: 94px;
  --val-200: 200px;
}

body {
  color: var(--color-main);
  font-family: var(--font-roboto);
  font-size: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  width: var(--width-container1200);
  padding: 0 var(--val-15);
}

.section {
  padding-top: var(--val-94);
  padding-bottom: var(--val-94);
}

.disp-flex {
  display: flex;
}

.list {
  list-style: none;
}

.list-items > li:not(:last-child) {
  margin-right: var(--val-30);
}

.section-title {
  margin-bottom: var(--val-50);
}

/* 
============================================================
HEADER
============================================================
*/

.header {
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border-header);
}

.container-main-nav {
  background-color: var(--color-light);
  align-items: center;
}

.main-logo {
  font-family: var(--font-raleway);
  color: var(--color-logo);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  padding-top: var(--val-24);
  padding-bottom: var(--val-25);
  margin-right: var(--val-93);
}

.main-logo-decoration {
  color: var(--color-decoration);
}

.main-nav,
.main-nav-contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: var(--font-rem-14);
  letter-spacing: var(--l-spacing-2);
  line-height: var(--l-height-16);
  font-weight: var(--f-weight-500);
}

.main-nav-contact {
  color: var(--color-grey);
  margin-left: auto;
}

.main-nav > .main-nav-list:not(:last-child) {
  margin-right: var(--val-46);
}

.main-nav-contact > .main-nav-contact-list:not(:last-child) {
  margin-right: var(--val-50);
}

.link,
.main-logo {
  text-decoration: none;
}

.link {
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--color-decoration);
}

.link-active {
  color: var(--color-decoration);
}
.contact-icon:hover,
.contact-icon:focus {
  fill: var(--color-decoration);
  color: var(--color-decoration);
}

.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon svg {
  margin-right: var(--val-10);
  fill: currentColor;
}

/* 
============================================================
INDEX
============================================================
*/
/* ========hero======*/
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/index/header-background.jpg");
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero-container {
  height: 37.5rem;
  justify-content: center;
  align-items: center;
}

.hero-header {
  font-size: var(--font-rem-44);
  line-height: var(--l-height-60);
  font-weight: var(--f-weight-900);
  color: var(--color-light);
  letter-spacing: var(--l-spacing-6);
  text-transform: uppercase;
  width: var(--width-container696);
}

.hero-header-button {
  background-color: var(--color-decoration);
  font-family: inherit;
  color: var(--color-light);
  font-size: var(--font-rem-16);
  font-weight: var(--f-weight-700);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  cursor: pointer;
  box-shadow: 0 4px 4px #00000026;
  border: none;
  padding: var(--val-10) var(--val-41) var(--val-10) var(--val-42);
  margin-top: var(--val-30);
  border-radius: 4px;
}

/* ======advantage====== */
.advantage {
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.list-advantage {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
}

.list-header {
  text-transform: uppercase;
  font-weight: var(--f-weight-700);
}

.list-contents {
  line-height: var(--l-height-24);
  color: var(--color-grey);
  margin-top: var(--val-10);
}

.advantage-item svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-icon-container {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--val-30);
}

/* ======what about====== */
.what-about {
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-size: var(--font-rem-36);
  line-height: var(--l-height-42);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-700);
}

/* ======our team====== */
.our-team {
  background-color: var(--color-light-grey);
  align-items: center;
  justify-content: center;
}

.our-team-picture {
  background-color: var(--color-light);
  text-align: center;
  font-size: var(--font-rem-16);
  line-height: var(--l-height-19);
  letter-spacing: var(--l-spacing-3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-picture-caption {
  font-weight: var(--f-weight-500);
  padding-top: var(--val-30);
  padding-bottom: var(--val-10);
}

.our-team-picture-content {
  color: var(--color-grey);
}

.our-team-social-list {
  align-items: center;
  justify-content: center;
  padding-bottom: var(--val-30);
  padding-top: var(--val-16);
}

.social-list-link {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: var(--val-10);
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--color-light);
  background-color: var(--color-decoration);
  border-radius: 50%;
}

/* ======Clients====== */
.clients-icon {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--color-decoration);
  border: 1px solid var(--color-decoration);
}

.clients {
  align-items: center;
  justify-content: center;
}

/*
============================================================
FOOTER
============================================================
*/
.footer {
  background-color: var(--color-dark);
  align-items: center;
  justify-content: center;
  padding: var(--val-60) var(--val-15);
}

.footer-container {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.footer-logo {
  font-family: var(--font-raleway);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  text-decoration: none;
  color: inherit;
}

.footer-list {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-24);
  letter-spacing: var(--l-spacing-3);
  font-style: normal;
  margin-top: var(--val-20);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-items:not(:last-child) {
  margin-bottom: var(--val-9);
}

.footer-right-side {
  margin-left: var(--val-70);
}

.footer-join {
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
  text-transform: uppercase;
  padding-top: 12px;
}

.footer-social-list {
  align-items: center;
  justify-content: center;
  padding-top: var(--val-20);
}

.footer-list-link {
  fill: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-list-item:not(:last-child) {
  margin-right: var(--val-10);
}

.footer-list-link:hover,
.footer-list-link:focus {
  fill: var(--color-light);
  background-color: var(--color-decoration);
  border-radius: 50%;
}

/* 
============================================================
PORTFOLIO
============================================================
*/
/* selection */
.selection-container {
  align-items: center;
  justify-content: center;
}

.main-container {
  align-items: center;
  justify-content: center;
}

.selection {
  text-align: center;
}

.selection-list {
  align-items: center;
  justify-content: center;
  margin-bottom: var(--val-50);
}

.selection-btn {
  font-family: inherit;
  color: inherit;
  background-color: var(--color-light-grey);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-26);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-500);
  border: none;
  border-radius: 4px;
  padding: var(--val-6) var(--val-22);
}

.selection-btn:hover,
.selection-btn:focus {
  background-color: var(--color-decoration);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-light);
  cursor: pointer;
}

.selection-items:not(:last-child) {
  margin-right: var(--val-8);
}

/* gallery */
.gallery-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--val-30);
}

.gallery-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery-picture-caption {
  font-size: var(--font-rem-18);
  line-height: var(--l-height-36);
  letter-spacing: var(--l-spacing-6);
  font-weight: var(--f-weight-700);
  padding-bottom: var(--val-4);
}

.gallery-picture-content {
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-3);
  color: var(--color-grey);
}

.gallery-figcaption {
  padding: var(--val-20) var(--val-24);
  border-bottom: 1px solid var(--color-border-gallery);
  border-left: 1px solid var(--color-border-gallery);
  border-right: 1px solid var(--color-border-gallery);
}
