:root {
  /* color */
  --color-main: #212121;
  --color-logo: #000000;
  --color-decoration: #2196f3;
  --color-light: #ffffff;
  --color-dark: #2f303a;
  --color-grey: #757575;
  --color-light-grey: #f5f4fa;
  --color-border-header: #ececec;
  --color-border-gallery: #eeeeee;
  /* font-size */
  --font-main: 16px;
  --font-rem-14: 0.875rem;
  --font-rem-16: 1rem;
  --font-rem-18: 1.125rem;
  --font-rem-26: 1.625rem;
  --font-rem-36: 2.25rem;
  --font-rem-44: 2.75rem;
  /* font-weight */
  --f-weight-500: 500;
  --f-weight-700: 700;
  --f-weight-900: 900;
  /* letter-spacing */
  --l-spacing-2: 0.02em;
  --l-spacing-3: 0.03em;
  --l-spacing-6: 0.06em;
  /* line-height */
  --l-height-16: 1rem;
  --l-height-19: 1.1875rem;
  --l-height-24: 1.5rem;
  --l-height-26: 1.625rem;
  --l-height-30: 1.875rem;
  --l-height-31: 1.9375rem;
  --l-height-36: 2.25rem;
  --l-height-42: 2.625rem;
  --l-height-60: 3.75rem;
  /* font-family */
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --width-container: 1200px;
}

body {
  color: var(--color-main);
  font-family: var(--font-roboto);
  font-size: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  width: var(--width-container);
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.disp-flex {
  display: flex;
}

.list {
  list-style: none;
}

.list-items > li:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  padding-bottom: 50px;
}

/* 
============================================================
HEADER
============================================================
*/

.header {
  text-align: center;
  align-items: center;
  justify-content: center;  
  border-bottom: 1px solid var(--color-border-header);
}

.container-main-nav {
  background-color: var(--color-light);
  align-items: center;
}

.main-logo {
  font-family: var(--font-raleway);
  color: var(--color-logo);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.main-logo-decoration {
  color: var(--color-decoration);
}

.main-nav,
.main-nav-contact {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: var(--font-rem-14);
  letter-spacing: var(--l-spacing-2);
  line-height: var(--l-height-16);
  font-weight: var(--f-weight-500);
}

.main-nav-contact {
  color: var(--color-grey);
  margin-left: 384px;
}

.main-nav > .main-nav-list:not(:last-child) {
  margin-right: 46px;
}

.main-nav-contact > .main-nav-contact-list:not(:last-child) {
  margin-right: 50px;
}

.link,
.main-logo {
  text-decoration: none;
}

.link {
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--color-decoration);  
}

.link-active {
  color: var(--color-decoration);
}

/* 
============================================================
INDEX
============================================================
*/
/* ========hero======*/
.hero {
  background-color: var(--color-dark);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-container {
  justify-content: center;
  padding-top: 200px; 
  padding-bottom: 200px; 
}

.hero-header {
  font-size: var(--font-rem-44);
  line-height: var(--l-height-60);
  font-weight: var(--f-weight-900);
  color: var(--color-light);
  letter-spacing: var(--l-spacing-6);
  text-transform: uppercase;
  width: 696px;  
}

.hero-header-button {
  background-color: var(--color-decoration);
  font-family: inherit;
  color: var(--color-light);
  font-size: var(--font-rem-16);
  font-weight: var(--f-weight-700);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  cursor: pointer;
  box-shadow: 0 4px 4px #00000026;
  border: none;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  border-radius: 4px;
}

/* ======advantage====== */
.advantage {
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.list-advantage {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-3);
}

.list-header {
  text-transform: uppercase;
  font-weight: var(--f-weight-700);
}

.list-contents {
  line-height: var(--l-height-24);
  color: var(--color-grey);
  padding-top: 10px;
}

/* ======what about====== */
.what-about {
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-size: var(--font-rem-36);
  line-height: var(--l-height-42);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-700);
}

/* ======our team====== */
.our-team {
  background-color: var(--color-light-grey);
  align-items: center;
  justify-content: center;
}

.our-team-picture {
  background-color: var(--color-light);
  text-align: center;
  font-size: var(--font-rem-16);
  line-height: var(--l-height-19);
  letter-spacing: var(--l-spacing-3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-picture-caption {
  font-weight: var(--f-weight-500);
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team-picture-content {
  color: var(--color-grey);
  padding-bottom: 30px;
}

/* 
============================================================
FOOTER
============================================================
*/
.footer {
  background-color: var(--color-dark);
  align-items: center;
  justify-content: center;
  padding: 60px 15px;
}

.footer-container {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.footer-logo {
  font-family: var(--font-raleway);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  text-decoration: none;
  color: inherit;
}

.footer-list {
  font-size: var(--font-rem-14);
  line-height: var(--l-height-24);
  letter-spacing: var(--l-spacing-3);
  font-style: normal;
  padding-top: 20px;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-items:not(:last-child) {
  padding-bottom: 9px;
}

/* 
============================================================
PORTFOLIO
============================================================
*/
/* selection */
.selection-container {
  align-items: center;
  justify-content: center;
}

.main-container{
  align-items: center;
  justify-content: center;
}

.selection {
  text-align: center;
}

.selection-list {
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.selection-btn {
  font-family: inherit;
  color: inherit;
  background-color: var(--color-light-grey);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-26);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-500);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.selection-btn:hover,
.selection-btn:focus {
  background-color: var(--color-decoration);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-light);
  cursor: pointer;
}

.selection-items:not(:last-child) {
  margin-right: 8px;
}

/* gallery */
.gallery-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gallery-picture {
  width: 370px;
  height: 404px;
}

.gallery-picture-caption {
  font-size: var(--font-rem-18);
  line-height: var(--l-height-36);
  letter-spacing: var(--l-spacing-6);
  font-weight: var(--f-weight-700);
  padding-bottom: 4px;
}

.gallery-picture-content {
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-3);
  color: var(--color-grey);
}

.gallery-figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid var(--color-border-gallery);
  border-left: 1px solid var(--color-border-gallery);
  border-right: 1px solid var(--color-border-gallery);
}