:root {
  --color-main: #212121;
  --color-logo: #000000;
  --color-decoration: #2196f3;
  --color-light: #ffffff;
  --color-dark: #2f303a;
  --font-main: 16px;
  --font-rem-26: 1.625rem;
  --font-rem-14: 0.875rem;
  --font-rem-16: 1rem;
  --font-rem-44: 2.75rem;
  --f-weight-700: 700;
  --l-spacing-3: 0.03em;
  --l-spacing-2: 0.02em;
  --l-spacing-6: 0.06em;
  --l-height-31: 1.9375rem;
  --l-height-16: 1rem;
  --l-height-60: 3.75rem;
  --l-height-30: 1.875rem;
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  color: var(--color-main);
  font-family: var(--font-roboto);
  font-size: var(--font-main);
}

/* header */
.container-main-nav {
  background-color: var(--color-light);
}

.main-logo {
  font-family: var(--font-raleway);
  color: var(--color-logo);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
}

.main-logo-decoration {
  color: var(--color-decoration);
}

.main-nav,
.main-nav-contact {
  list-style: none;
  font-size: var(--font-rem-14);
  letter-spacing: var(--l-spacing-2);
  line-height: var(--l-height-16);
}

.link,
.main-logo {
  text-decoration: none;
}

.link,
.link:visited {
  color: var(--color-main);
}

.link:hover,
.link:focus {
  color: var(--color-decoration);
}

/* hero */
.hero {
  background-color: var(--color-dark);
  text-align: center;
}

.hero-header {
  font-size: var(--font-rem-44);
  color: var(--color-light);
  letter-spacing: var(--l-spacing-6);
  text-transform: uppercase;  
}

.hero-header-button {
  background-color: var(--color-decoration);
  font-family: inherit;
  color: var(--color-light);
  font-size: var(--font-rem-16);
  font-weight: var(--f-weight-700);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  cursor: pointer;
}

/* list */
.list-items {
  list-style: none;
}