.advantage {
  display: flex;
  font-size: $font-rem-14;
  line-height: $l-height-16;
  letter-spacing: $l-spacing-3;

  &__header {
    text-transform: uppercase;
    font-weight: $f-weight-700;
  }

  &__contents {
    line-height: $l-height-24;
    color: $color-grey;
    margin-top: $val-10;
  }

  &__icon-container {
    width: $w270;
    height: $w120;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: $val-4;
    margin-bottom: $val-30;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
