.clients {
  display: flex;
  
  &__link {
    fill: var(--color-social);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--val-1) solid #afb1b8;
    border-radius: var(--val-4);
    width: var(--w170);
    height: var(--w92);
    transition: fill var(--animation), border var(--animation);
    
      &:hover,
      &:focus {
        fill: var(--color-decoration);
        border: 1px solid var(--color-decoration);
    }
  }
}