.footer {
  font-size: $font-rem-14;
  line-height: $l-height-24;
  letter-spacing: $l-spacing-3;
  font-style: normal;
  margin-top: $val-20;

  &__link {
    color: rgba(255, 255, 255, 0.6);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $val-9;
    }
  }
}

.footer-right-side {
  margin-left: $val-70;
}

.footer-title {
  display: block;
  font-weight: $f-weight-700;
  font-size: $font-rem-14;
  line-height: $l-height-16;
  letter-spacing: $l-spacing-3;
  text-transform: uppercase;
  padding-top: $val-12;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $val-20;

  &__link {
    fill: $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: $w44;
    height: $w44;
    transition: background-color $animation;

    &:hover,
    &:focus {
      background-color: $color-decoration;
      border-radius: 50%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: $val-10;
    }
  }
}

.newsletter {
  margin-left: $val-78;
  padding-top: $val-12;

  &__title {
    display: block;
    width: max-content;
    font-weight: $f-weight-700;
    font-size: $font-rem-14;
    line-height: $l-height-16;
    letter-spacing: $l-spacing-3;
    text-transform: uppercase;
    color: $color-light;
    margin-bottom: $val-20;
  }

  &__input-wrapper {
    display: flex;
  }

  &__input {
    width: $w358;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: $val-4;
    background-color: transparent;
    padding-left: $val-16;
    font-size: $font-rem-16;
    line-height: $l-height-20;
    letter-spacing: $l-spacing-3;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: border-color $animation;

    &:hover,
    &:focus {
      border-color: $color-decoration;
    }
    
    &::placeholder {
      font-size: $font-rem-16;
      line-height: $l-height-20;
      letter-spacing: $l-spacing-3;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    width: $w200;
    background-color: $color-decoration;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: $f-weight-700;
    font-size: $font-rem-16;
    line-height: $l-height-30;
    letter-spacing: $l-spacing-6;
    color: $color-light;
    padding: $val-10 $val-8 $val-10 $val-42;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $val-4;
    margin-left: $val-12;
  }

  &__icon {
    margin-left: $val-24;
  }
}
