.main-nav,
.main-contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: var(--font-rem-14);
  letter-spacing: var(--l-spacing-2);
  line-height: var(--l-height-16);
  font-weight: var(--f-weight-500);
}

.main-contact {
  color: var(--color-grey);
  margin-left: auto;

  &__list {
    &:not(:last-child) {
      margin-right: var(--val-50);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

      &:hover,
      &:focus {
        fill: var(--color-decoration);
        color: var(--color-decoration);
    }
  }
  
  &__icon {
    margin-right: var(--val-10);
    fill: currentColor;
  }  
}

.main-nav {
  &__list {  
    position: relative;
  
    &:not(:last-child) {
      margin-right: var(--val-46);
    }  
  }
  
  &__link {
    &::after {
      content: "";
      width: 100%;
      height: var(--w4);
      position: absolute;
      bottom: var(--val--33);
      left: 0;
      background-color: transparent;
      transition: background-color var(--animation);
    }

    &:hover::after {
      background-color: var(--color-decoration);
    }
  }
}