.main-nav,
.main-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }

  .main-nav,
  .main-contact {
    list-style: none;
    font-size: $font-rem-14;
    letter-spacing: $l-spacing-2;
    line-height: $l-height-16;
    font-weight: $f-weight-500;
  }

  .main-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-rem-12;
    color: $color-grey;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        fill: $color-decoration;
        color: $color-decoration;
      }
    }

    &__icon {
      margin-right: $val-8;
      fill: currentColor;
    }
  }

  .main-nav {
    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: $val-60;
      }
    }

    &__link {
      &::after {
        content: "";
        width: 100%;
        height: $w4;
        position: absolute;
        bottom: -23px;
        left: 0;
        background-color: transparent;
        transition: background-color $animation;
      }

      &:hover::after {
        background-color: $color-decoration;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-rem-14;
    margin-left: auto;

    &__item {
      &:not(:last-child) {
        margin-right: $val-50;
      }
    }
    
    &__icon {
      margin-right: $val-9;
    }
  }

  .main-nav {
    
    &__item {
      &:not(:last-child) {
        margin-right: $val-46;
      }
    }

    &__link {
      &::after {
        bottom: -33px;
      }
    }
  }
}