.hero-header {
  font-size: var(--font-rem-44);
  line-height: var(--l-height-60);
  font-weight: var(--f-weight-900);
  color: var(--color-light);
  letter-spacing: var(--l-spacing-6);
  text-transform: uppercase;
  width: var(--width-container696);
}