.hero-header {
  font-size: $font-rem-26;
  line-height: $l-height-42;
  font-weight: $f-weight-900;
  color: $color-light;
  letter-spacing: $l-spacing-6;
  text-transform: uppercase;
  max-width: 365px;
}

@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: $font-rem-44;
    line-height: $l-height-60;
    max-width: 696px;
  }
}