.our-team {

  &__picture {
    max-width: 450px;
    background-color: $color-light;
    text-align: center;
    font-size: $font-rem-16;
    line-height: $l-height-19;
    letter-spacing: $l-spacing-3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px $val-4 $val-4;
  }

  &__caption {
    font-weight: $f-weight-500;
    padding-top: $val-30;
    padding-bottom: $val-10;
  }

  &__content {
    color: $color-grey;
  }
}

@media screen and (max-width: 767px) {
  .our-team__picture {    
    margin-bottom: 30px;
  }  
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    flex-wrap: wrap;
    gap: 30px;  
  }
}
