.section-our-team {
  display: flex;
  background-color: var(--color-light-grey);
  align-items: center;
  justify-content: center;
}

.our-team {
  display: flex;
}

.our-team__picture {
  background-color: var(--color-light);
  text-align: center;
  font-size: var(--font-rem-16);
  line-height: var(--l-height-19);
  letter-spacing: var(--l-spacing-3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px var(--val-4) var(--val-4);
}

.our-team__caption {
  font-weight: var(--f-weight-500);
  padding-top: var(--val-30);
  padding-bottom: var(--val-10);
}

.our-team__content {
  color: var(--color-grey);
}