.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: $color-backdrop;
  transition: visibility $animation, opacity $animation;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform $animation, visibility $animation, opacity $animation;
}
