.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-backdrop);
  transition: visibility var(--animation), opacity var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;  
  transition: transform var(--animation), visibility var(--animation), opacity var(--animation);
}
