.burger-btn {
  background-color: transparent;
  border: none;
  padding-top: $val-10;
  padding-bottom: $val-10;
  line-height: 0;  

  &:hover {
    fill: $color-decoration;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
} 

