.hero-button {
  background-color: $color-decoration;
  font-family: inherit;
  color: $color-light;
  font-size: $font-rem-16;
  font-weight: $f-weight-700;
  line-height: $l-height-30;
  letter-spacing: $l-spacing-6;
  cursor: pointer;
  box-shadow: 0 4px 4px #00000026;
  border: none;
  padding: $val-10 $val-41 $val-10 $val-42;
  margin-top: $val-30;
  border-radius: $val-4;
}
