.main-logo {
  display: block;
  font-family: $font-raleway;
  color: $color-logo;
  font-size: $font-rem-24;
  letter-spacing: $l-spacing-3;
  line-height: $l-height-28;
  font-weight: $f-weight-700;
  padding-top: $val-16;
  padding-bottom: $val-16;
  text-decoration: none;
  transition: color $animation;

  &_decoration {
    color: $color-decoration;
  }

  &_footer {
    color: inherit;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    font-size: $font-rem-26;
    line-height: $l-height-31;
    padding-top: $val-24;
    padding-bottom: $val-25;
    margin-right: $val-93;
    
    &_footer {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}