.main-logo {
  font-family: var(--font-raleway);
  color: var(--color-logo);
  font-size: var(--font-rem-26);
  letter-spacing: var(--l-spacing-3);
  line-height: var(--l-height-31);
  font-weight: var(--f-weight-700);
  padding-top: var(--val-24);
  padding-bottom: var(--val-25);
  margin-right: var(--val-93);
  text-decoration: none;
  transition: color var(--animation);

  &_decoration {
    color: var(--color-decoration);
  }

  &_footer {
    color: inherit;
  }
}