.main-logo {
  font-family: $font-raleway;
  color: $color-logo;
  font-size: $font-rem-26;
  letter-spacing: $l-spacing-3;
  line-height: $l-height-31;
  font-weight: $f-weight-700;
  padding-top: $val-24;
  padding-bottom: $val-25;
  margin-right: $val-93;
  text-decoration: none;
  transition: color $animation;

  &_decoration {
    color: $color-decoration;
  }

  &_footer {
    color: inherit;
  }
}
