.mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $color-light;
  margin: 0 auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: transform var(--animation);

  &__wrapper {
    padding: 48px 40px;
  }

  &__close-btn {    
    position: absolute;
    right: $val-15;
    top: $val-10;
    background-color: transparent;
    border: none;
    line-height: 0;

    &:hover,
    &:focus {
      fill: $color-decoration;
    }
  }
}

.menu-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform $animation, visibility $animation, opacity $animation;  
}

.mobile-menu {
  margin-bottom: 302px;  

  &__item {
    text-align: left;
    font-weight: $f-weight-500;
    font-size: $font-rem-40;
    line-height: $l-height-47;
    letter-spacing: $l-spacing-2;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.mobile-contact {
  font-weight: $f-weight-500;
  font-size: $font-rem-24;
  line-height: $l-height-28;
  letter-spacing: $l-spacing-2;
  color: $color-grey;
  text-align: left;
  margin-bottom: 64px; 

  &__item {
    &:first-child {
    font-size: $font-rem-34;
    line-height: $l-height-40;
    color: $color-decoration;
    margin-bottom: 32px;
    }
  }
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  font-weight: $f-weight-500;
  font-size: $font-rem-18;
  line-height: $l-height-22;
  letter-spacing: $l-spacing-2;
  color: $color-decoration;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:not(:last-child)::after {
      content: "";
      width: 1px;
      height: 22px;
      position: absolute;
      bottom: 0;
      margin-left: 10px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}