.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $w528;
  min-height: $w581;
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
  background-color: $color-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $val-4;
  transition: transform $animation;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  &__form-wrapper {
    padding: $val-40;
  }

  &__close-btn {
    position: absolute;
    top: $val-8;
    right: $val-8;
    border-radius: 50%;
    border: $val-1 solid rgba(0, 0, 0, 0.1);
    background-color: $color-light;
    width: $val-30;
    height: $val-30;
    cursor: pointer;
    transition: border-color $animation, fill $animation;

    &:hover {
      border-color: $color-decoration;
      fill: $color-decoration;
    }
  }
}

.modal-form {
  &__title {
    font-weight: $f-weight-700;
    font-size: $font-rem-20;
    line-height: $l-height-23;
    margin-bottom: $val-12;
    text-align: center;
    letter-spacing: $l-spacing-3;
  }

  &__label {
    display: block;
    width: max-content;
    font-size: $font-rem-12;
    line-height: $l-height-14;
    letter-spacing: $l-spacing-1;
    color: $color-grey;
  }

  &__items {
    position: relative;
    transition: fill $animation;

    &:hover,
    &:focus {
      border-color: $color-decoration;
      fill: $color-decoration;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: $val-40;
    margin-top: $val-4;
    margin-bottom: $val-10;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: $val-4;
    padding-left: $val-42;
    outline: none;
    transition: border-color $animation;

    &:hover,
    &:focus {
      border-color: $color-decoration;
      fill: $color-decoration;
    }
  }

  &__icon-div {
    width: $val-18;
    height: $val-18;
    position: absolute;
    top: $val-11;
    left: $val-12;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textarea {
    display: block;
    resize: none;
    padding: $val-12 $val-16;
    width: 100%;
    height: $val-120;
    margin-top: $val-4;
    margin-bottom: $val-20;
    font-size: $val-12;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: $val-4;
    transition: border-color $animation;

    &:hover,
    &:focus {
      border-color: $color-decoration;
      fill: $color-decoration;
    }

    &::placeholder {
      font-size: $font-rem-12;
      line-height: $l-height-14;
      letter-spacing: $l-spacing-1;
      color: $color-placeholder;
    }
  }

  &__check-label {
    font-size: $font-rem-14;
    line-height: $l-height-24;
    letter-spacing: $l-spacing-3;
    color: $color-grey;
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      content: "";
      width: $val-16;
      height: $val-16;
      background-color: transparent;
      border: $val-2 solid #212121;
      border-radius: $val-2;
      margin-right: $val-7;
      transition: background-color $animation, border $animation;
    }

    & a {
      color: $color-decoration;
    }
  }

  &__check {
    &:checked + .modal-form__check-label::before {
      background-color: $color-decoration;
      background-image: url(../images/check.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: $val-2 solid $color-decoration;
    }
  }
}
