.section-title {
  text-align: center;
  font-size: var(--font-rem-36);
  line-height: var(--l-height-42);
  letter-spacing: var(--l-spacing-3);
  font-weight: var(--f-weight-700);
  margin-bottom: var(--val-50);
}