.section-title {
  text-align: center;
  font-size: $font-rem-28;
  line-height: $l-height-33;
  letter-spacing: $l-spacing-3;
  font-weight: $f-weight-700;
  margin-bottom: $val-30;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: $font-rem-36;
    line-height: $l-height-42;
  }
}
