.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $val-24;
  padding-top: $val-16;

  &__link {
    fill: $color-social;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $w44;
    height: $w44;
    border-radius: 50%;
    transition: fill $animation, background-color $animation;

    &:hover,
    &:focus {
      fill: $color-light;
      background-color: $color-decoration;
      border-radius: 50%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: $val-10;
    }
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: $val-30;
  }  
}