.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--val-30);
  padding-top: var(--val-16);
}

.social-list__link {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--w44);
  height: var(--w44);
  border-radius: 50%;
  transition: fill var(--animation), background-color var(--animation);
}

.social-list__item:not(:last-child) {
  margin-right: var(--val-10);
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--color-light);
  background-color: var(--color-decoration);
  border-radius: 50%;
}