.submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: var(--f-weight-700);
  font-size: var(--font-rem-16);
  line-height: var(--l-height-30);
  letter-spacing: var(--l-spacing-6);
  background: var(--color-decoration);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--val-4);
  color: var(--color-light);
  padding: var(--val-10) var(--val-76);
  border: none;
  margin-top: var(--val-30);
}