.submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: $f-weight-700;
  font-size: $font-rem-16;
  line-height: $l-height-30;
  letter-spacing: $l-spacing-6;
  background: $color-decoration;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: $val-4;
  color: $color-light;
  padding: $val-10 $val-76;
  border: none;
  margin-top: $val-30;
}
