body {
  color: $color-main;
  font-family: $font-roboto;
  font-size: $font-main;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;

  &_items > li {
    &:not(:last-child) {
      margin-right: $val-30;
    }
  }
}

.link {
  text-decoration: none;
  transition: color $animation;
  color: inherit;

  &:hover,
  &:focus {
    color: $color-decoration;
  }

  &_active {
    width: 100%;
    color: $color-decoration;

    &::before {
      content: "";
      width: 100%;
      height: $w4;
      position: absolute;
      bottom: $val--33;
      left: 0;
      background-color: $color-decoration;
    }
  }
}
