body {
  color: var(--color-main);
  font-family: var(--font-roboto);
  font-size: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;

  &_items > li {
    &:not(:last-child) {
      margin-right: var(--val-30);
    }
  }
}

.link {
  text-decoration: none;
  transition: color var(--animation);
  color: inherit;

  &:hover,
  &:focus {
    color: var(--color-decoration);
  }

  &_active {
    width: 100%;
    color: var(--color-decoration);

    &::before {
      content: "";
      width: 100%;
      height: var(--w4);
      position: absolute;
      bottom: var(--val--33);
      left: 0;
      background-color: var(--color-decoration);
    }
  }
}
