body {
  color: $color-main;
  font-family: $font-roboto;
  font-size: $font-main;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color $animation;
  color: inherit;

  &:hover,
  &:focus {
    color: $color-decoration;
  }

  &_active {
    width: 100%;
    color: $color-decoration;

    &::before {
      content: "";
      width: 100%;
      height: $w4;
      position: absolute;
      bottom: -23px;
      left: 0;
      background-color: $color-decoration;
    }
  }
}

.menu-active {
  color: $color-decoration;
}

@media screen and (min-width: 1200px) {
  .list_items > li {
    &:not(:last-child) {
      margin-right: $val-30;
    }
  }

  .link::before {
    bottom: $val--33;
  }
}