.container {
  width: $width-container480;
  padding: 0 $val-15;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;    
  }

  &_footer {
    background-color: $color-dark;
    color: $color-light;
    text-align: center;    
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: $width-container768;
  }
}

@media screen and (max-width: 1199px) {
  .container_what-about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: $width-container1200;

    &_hero {
      height: 600px;
    }

    &_footer {
      display: flex;  
    }
  }
}
