.container {
  width: var(--width-container1200);
  padding: 0 var(--val-15);
}

.container-header {
  display: flex;
  background-color: var(--color-light);
  align-items: center;
}

.container-hero {
  display: flex;
  height: 37.5rem;
  justify-content: center;
  align-items: center;
}

.container-footer {
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.modal-form-container {
  padding: var(--val-40);
}

.container-selection {
  align-items: center;
  justify-content: center;
}