.container {
  width: $width-container1200;
  padding: 0 $val-15;
}

.container-header {
  display: flex;
  background-color: $color-light;
  align-items: center;
}

.container-hero {
  display: flex;
  height: 37.5rem;
  justify-content: center;
  align-items: center;
}

.container-footer {
  display: flex;
  background-color: $color-dark;
  color: $color-light;
}

.modal-form-container {
  padding: $val-40;
}

.container-selection {
  align-items: center;
  justify-content: center;
}