.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $val-30;

  &__img {
    position: relative;
    overflow: hidden;
  }
  
  &__picture {
    width: 100%;
  }

  &__overlay {
    position: absolute;
    transform: translateY(100%);
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    font-size: $font-rem-18;
    line-height: $l-height-28;
    letter-spacing: $l-spacing-3;
    color: $color-light;
    padding: 77px 24px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform $animation;
  }

  &__picture-caption {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-rem-18;
    line-height: $l-height-36;
    letter-spacing: $l-spacing-6;
    font-weight: $f-weight-700;
    padding-bottom: $val-4;
  }

  &__picture-content {
    line-height: $l-height-30;
    letter-spacing: $l-spacing-3;
    color: $color-grey;
  }

  &__figcaption {
    padding-top: $val-20;
    padding-bottom: $val-20;
    padding-left: $val-24;
    border-bottom: 1px solid $color-border-gallery;
    border-left: 1px solid $color-border-gallery;
    border-right: 1px solid $color-border-gallery;
  }
}

.gallery__item {
  transition: box-shadow $animation;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    & .gallery__overlay {
      transform: translateY(0%);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item:last-child {
    transform: translateX(-191px);
  }  
}

@media screen and (min-width: 768px) {
  .gallery__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__overlay {
    padding-right: 45px;
  }
}