.selection {
  display: flex;
  text-align: center;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: $val-40;    
  }

  &__btn {
    font-family: inherit;
    color: inherit;
    background-color: $color-light-grey;
    font-size: $font-rem-16;
    line-height: $l-height-26;
    letter-spacing: $l-spacing-3;
    font-weight: $f-weight-500;
    border: none;
    border-radius: $val-4;
    padding: $val-6 $val-22;
    transition: box-shadow $animation, color $animation,
      background-color $animation;
      
    &:hover,
    &:focus {
      background-color: $color-decoration;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: $color-light;
      cursor: pointer;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: $val-8;
    }    
  }
}

@media screen and (max-width: 767px) {
  .selection__item:nth-child(-n + 3){
    margin-bottom: 15px;
  }  
}